@model Model.Adjunto

@using (Html.BeginForm("GuardarCurso", "Home", FormMethod.Post, new { id = "frm-adjunto" }))
{
    @Html.HiddenFor(x => x.Aumno_Id)
    <div class="card">
        <div class="card-header">Seleccione un documento a Subir</div>
        <div class="card-body">
            <div class="form-group">
                <input type="file" name="archivo" />
            </div>

        </div>
    </div>
    <div class="text-right">
        <button data-ajax="true" data-confirm="Esta seguro de adjuntar este archivo al alumno?" type="submit" class="btn btn-primary">Guardar</button>
    </div>
}

<hr />