@model List<Model.Alumno>
@{
    ViewBag.Title = "Inicio";

}

<h4 class="page-header">
    <a href="~/home/crud" class="btn btn-outline-primary pull-right float-right">Nuevo Alumno</a>
    Alumnos
</h4>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Fecha de Nacimiento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
            {
                    <tr>
                        <td>@(m.Nombre + " " + m.Apellido)</td>
                        <td>@(m.sexo == 1 ? "Hombre" : "Mujer")</td>
                        <td>@m.Fecha_Nacimiento</td>
                        <td>
                            <a class="btn btn-xs btn-default" href="~/home/ver/@m.Id">Visualizar</a>
                            <a class="btn btn-xs btn-primary" href="~/home/crud/@m.Id">Editar</a>
                            <a onclick="return confirm('Desea eliminar este Alumno?');" class="btn btn-xs btn-danger" href="~/home/eliminar/@m.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
